.title_projects {
  display: flex;
  justify-content: center;
  font-family: "Inconsolata", monospace;
}
.me_projects {
  width: 6%;
  height: auto;
  transform: rotate(10deg);
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  flex-direction: column;
}
.image_project {
  width: 80%;
  position: relative;
  box-shadow: 1px 2px 3px #999;
  transition: all 500ms ease-out;
  margin: 2em;
  cursor: pointer;
}
.text_projects{
  position: absolute;
  visibility: hidden;
  top: 0;
  font-family: "Inconsolata", monospace;
  text-align: center;
  color: white;
  font-size: 30px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0, 0.6); 
  transition: all 500ms ease-out;
  margin: 0 !important;
display: flex;
align-items: center;
cursor: pointer;
}

.image_project:hover > .text_projects{
  visibility: visible;
  opacity: 1;
}
.image_project:hover > .button_projects{
  visibility: visible;
  opacity: 1;
}
.hover{ 
  width: 100%;
}
/* .hover:hover {
  filter: brightness(0.4);
  transition: 300ms;
} */
.button_projects{
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: all 500ms ease-out;
  background-color: transparent;
  border: 4px solid white;
  color: white;
  width: 2em;
  height: 1em;
}