.title_projects {
  display: flex;
  justify-content: center;
  font-family: "Inconsolata", monospace;
}
.me_projects {
  width: 6%;
  height: auto;
  transform: rotate(10deg);
}
.projects {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2em;
  flex-direction: column;
}
.image_project {
  width: 80%;
  position: relative;
  box-shadow: 1px 2px 3px #999;
}
.text_projects{
  position: absolute;
  visibility: hidden;
  bottom: 25%;
  left: 25%;
  font-family: "Inconsolata", monospace;
  text-align: center;
  color: white;
  font-size: 30px;
  width: 50%; 
}

.image_project:hover .text_projects{
  visibility: visible;
}
.hover{ 
  width: 100%;
}
.hover:hover {
  filter: brightness(0.4);
  transition: 300ms;
}
