.button-start {
  margin-top: 2em;
  width: fit-content;
  font-family: "VT323", monospace;
  font-size: 30px;
  letter-spacing: 10px;
  padding-left: 17px;
  background: transparent;
  color: #43bccd;
  border: 5px solid #43bccd;
}
.button-start:hover {
  transform: translateY(-5px);
  filter: invert(100%);
}
