.container_home {
  width: 100%;
  height: auto;
  font-family: "Inconsolata", monospace;
}
.presentation {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image_Lu_pixel {
  background-image: url("../../images/LuPixel.png");
  width: 294px;
  height: 259px;
  position: absolute;
  transform: rotate(10deg);
  top: 10%;
  right: 10%;
}
.arrows {
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 80%;
  left: 24%;
}
.arrow {
  width: 8em;
  height: auto;
}

.presskey {
  transform: translateY(20px);
}
.green {
  height: 100vh;
  width: 100%;
  background-color: green;
}
.blue {
  height: 100vh;
  width: 100%;
  background-color: blue;
}
.pos0 {
}
.pos1 {
}
.pos2 {
}
