.container_home {
  width: 100%;
  height: auto;
  font-family: "Inconsolata", monospace;
}
.presentation {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image_Lu_pixel {
  background-image: url("../../images/LuLentes.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 37%;
  height: 30%;
  position: absolute;
  transform: rotate(10deg);
  top: 10%;
  right: 3%;
}
@media (max-width: 750px) {
  .presentation h2 {
    font-size: 16px;
    width: 90% !important;
  }
}
