.container_button_gameboy {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 14%;
  right: 8%;
  z-index: 15;
}
.gameboy_button {
  width: 3.5em;
  height: 2.5em;
  background-color: #3e3e3e;
  border: none;
  z-index: 5;
  border-radius: 2px;
}
.gameboy_button_animation {
  animation: blink_button 1s linear infinite;
}
@keyframes blink_button {
  from {
    background-color: #3e3e3e;
  }
  to {
    background-color: transparent;
  }
}
.vertical {
  width: 2.5em;
  height: 3.5em;
  z-index: 5;
}
.container_buttons_horizontal {
  position: relative;
  z-index: 5;
}
.gameboy_button:active {
  opacity: 0.5;
}
.container_buttons_vertical {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -80%;
  left: 32%;
  z-index: 5;
}
