html {
  background-color: #fff1e6;
  min-width: 100%;
  color: transparent;
  text-shadow: 0 0 0 #000000;
  overflow-x: hidden;
}
*:focus {
  outline: none;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html::before {
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: top center;
  opacity: 0.1;
  background-color: #fff1e6;
  z-index: 0;
}

.App {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
